.main-chat__message-list__name
  = message.user.name
  .main-chat__message-list__name__date
    = message.created_at.to_s
.main-chat__message-list__message
  - if message.body.present?
    %p.main-chat__message-list__message__content
      = message.body
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?