.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-item
      .side-bar__user-name__top-item__names
        =current_user.name
      .side-bar__user-name__top-item__icons
        =link_to "#", class:"side-bar__user-name__top-item__icons__link" do
          %i.fa.fa-edit
        =link_to edit_user_path(current_user), class:"side-bar__user-name__top-item__icons__link" do
          %i.fa.fa-cog
          
        
  .side-bar__room-list
    techcamp
    .side-bar__room-list__contents
      まだメッセージがありません