.main-chat{
  background-color: #ffffff;
  width: calc( 100vw - 300px );
  float: left;

  &__room-names{
    height: 100px;
    background-color: #ffffff;
    border-bottom-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    &__room-name{
      color: #333333;
      font-size: 20px;
      padding-top: 35px;
      padding-left: 40px;
      &__member{
        padding-top: 15px;
        font-size: 12px;
        color: #999999;
      }

    }
    &__edit-button{
      padding-top: 28px;
      padding-right: 40px;
      &__link{
      padding-left: 20px;
      padding-right: 20px;
      color: rgb(6, 152, 236);
      text-decoration: none;
      }
    }

  }
  &__message-list{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding-left: 40px;
    padding-bottom: 46px;
    &__name{
      color: #333333;
      font-size: 16px;
      padding-top: 35px;
      display: flex;
      &__date{
        color: #999999;
        font-size: 12px;
        margin-left: 20px;
      }
    }
    &__message{
      color: #434A54;
      padding-top: 12px;
      font-size: 14px;
    }
  }
  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    padding: 10px 40px;
    &__group{
      background-color:#ffffff;
      height: 50px;
      width: 100%;
      padding: 0 40px 0 10px;
      display: flex;
      align-items: center;
      position: relative;
      &__text{
      
        }
      &__icon{
        position: absolute;
        top: 10px;
        right: 10px;
        &__label{
          cursor: pointer;
          
        }
        &__input-box{
          display: none;
        }
      }
    } 
    &__button{
      background-color: #38aef0;
      height: 50px;
      width: 100px;
      margin-left: 15px;
      padding-top: 15px;
      text-align: center;
      color: white;
    }
  }

}