.side-bar{
  background-color: #253141;
  width: 300px;
  float: left;

  &__user-name{
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;
  

    &__top-item{
      height: 20px;
      background-color: #253141;
      width: 260px;
      display: flex;
      align-items: center;
      justify-content: space-between;


      &__names{
        color:white;
        font-size: 16px;
        font-weight: bold;
      }
      &__icons{
        width: 60px;
        color: white;
        text-align: right;
        &__link{
          text-decoration: none;
        }

      }
    }
  }
  &__room-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
      &__link{
        &__link{
          text-decoration: none;
        }
        
        &__name{
          color: #ffffff;
          font-size: 15px;
          font-weight: bold;
        }
        &__contents{
          padding-top: 5px;
          font-size: 11px;
          color: #ffffff;
        }
      }
     
  }
}

.fa{
  color: #ffffff;
  margin-left: 5px;
}